<!-- using the sample code from Tony -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<title><%= pageTitle %> - <%= siteTitle %></title>

<!-- Website Styles -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/gallery.css">
<link rel="stylesheet" href="/css/main.css">

<!-- Code Highlghter -->
<script src="/js/dogs.js" defer></script>
<!-- <script src="/js/image.js" defer></script> -->


