<!-- using the sample code from Tony -->
<nav class="primary">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="gallery">Gallery</a></li>
    <li><a href="team">Team</a></li>
    <li><a href="subscribe">Subscribe</a></li>
  </ul>
</nav>
<header class="page-header">
  <div>
    <p class="site-name"><%= siteTitle %></p>
    <p class="tagline"><%= tagline %></p>
  </div>
</header>