<header class="page-header">
  <div>
    <h1 class="site-name"><%= siteTitle %></h1>
    <p class="tagline"><%= tagline %></p>
  </div>
</header>
<nav class="primary">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="recipegenerator">Recipe Generator</a></li>
    <li><a href="members">Team</a></li>
    <li><a href="subscribe">Subscribe</a></li>
  </ul>
</nav>
