
/*layout the images responsively*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-content: center;
}
.gallery > figure {
  display: inline-block;
  width:100px;
  text-align: center;
  margin-top: 5vh;
  margin-left: 10vw;
}


.gallery > figure > figcaption {
  width:500px;
  height:250px;
  background-color: orange;
  border: 1px solid red;

}

/*This page font is set separately*/

.member {
  text-align: center;
}

.gallery > figure > figcaption > h2 {
  font-size: 2em;
  color: black;
  margin-bottom: 1rem;
}

.gallery > figure > figcaption > h3 {
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.gallery > figure > figcaption > a {
  font-size: 1.5em;
}

.gallery > figure > figcaption >a:hover {
  color:black;
}

.gallery > figure > figcaption >a:active{
  color: red;
}