form {
  padding: 40px;
  max-width:600px;
  margin:40px auto;
}

legend {
  font-size: 40px;
  text-align:center;
}

input {
  font-size:20px;
  display:block;
  width:96%;
  height:100%;
  padding:5px 10px;
  border:1px solid;
}

button {
  border:0;
  outline:none;
  border-radius:5px;
  padding:15px 0;
  font-size:2rem;
  text-transform:uppercase;
  letter-spacing:.1em;
  transition:all.5s ease;
  margin-top: 2rem;

  display:block;
  width:100%;
}

button:hover{
  color:#000000;
  background-color: darkgrey;
}

.subscribed {
  padding: 40px;
  max-width:600px;
  margin:40px auto;

  display: block;
}

.subscribed h1, p {
  text-align: center;
  margin: 0;
}

.sub-list-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
}

.sub-list {
  text-align: center;
}

.sub-list dt {
  font-size: 1.5rem;
  font-weight: bold;
}

.sub-list dd {
  font-size: 1rem;
  margin-bottom: 1rem;
}