<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/head") %>
  <link rel="stylesheet" href="css/recipegen.css">
  <script src="js/recipegen.js"></script>
</head>

<body>
  <%- include ("../partials/header") %>

  <main>
    <h1>Recipe Generator</h1>

    <div class="recipegrid">
      <div class="cover">
        <img src="images/placeholder.png" class="reveal" alt="serving cover">
      </div>
      <div class="cover">
        <img src="images/placeholder.png" class="reveal" alt="serving cover">
      </div>
      <div class="cover">
        <img src="images/placeholder.png" class="reveal" alt="serving cover">
      </div>
      <div class="cover">
        <img src="images/placeholder.png" class="reveal" alt="serving cover">
      </div>
  
      <figure>
        <img class="fruit" src="/" alt="">

      </figure>
      <figure>
        <img  class="dairy" src="/" alt="">

      </figure>
      <figure >
        <img class="protein" src="/" alt="">

      </figure>
      <figure >
        <img class="grain" src="/" alt="">

      </figure>
    </div>

    <div class="recipe">
    <h2></h2>
    </div>


    <div class="svg-container">
      <div class="svg">

      </div>
    </div>
  <button onclick="outputAll();">Hewwo</button>

  </main>

  <%- include ("../partials/footer") %>
</body>

</html>