<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/subscribe.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <form action="/subscribed" method="post">
        <fieldset>
          <legend>Follow us to get newest updates:</legend>
          <p>
            <label for="name">Name:</label>
            <input name="name" id="name" type="text" required>
          </p>
          <p>
            <label for="email">Email:</label>
            <input name="email" id="email" type="email" required>
          </p>
          <p>
            <button type="submit">Subscribe</button>
          </p>
        </fieldset>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
